[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pre-commit = "*"

[packages]
python-dateutil = "*"
texttable = "*"
timeago = "*"
psutil = "*"
dblpy = "*"
discord-py = "~=1.3.3"

[requires]
python_version = "3.7"

[scripts]
start = 'python -m bot'
lint = "python -m flake8"
precommit = "pre-commit install"