[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
asynctest = "*"
bandit = "*"
flake8 = "*"
pipfile-sort = "*"
pre-commit = "*"

[packages]
babel = "*"
dblpy = "*"
discord-py = "~=1.4"
psutil = "*"
python-dateutil = "*"
python-dotenv = "*"
texttable = "*"
timeago = "*"
tortoise-orm = {extras = ["accel"],version = "~=0.16"}
uvloop = {version = "*",sys_platform = "!= 'win32'"}

[requires]
python_version = "3.8"

[scripts]
start = 'python -m bot'
lint = "python -m flake8"
secure = "python -m bandit -r bot"
test = "python -m unittest discover"
precommit = "pre-commit install"
